.container1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}



.container2{
 grid-template-columns: repeat(3,1fr);
 display: grid;
 place-items:center;  
 gap:60px; 
 
}

img{
    width: 300px;
}

.top{
    margin-top: 200px !important;
}

@media screen and (max-width:1060px) {
    .container2{
        grid-template-columns: repeat(2,1fr);
    }
}  

    

@media screen and (max-width:558px){
    .container2{
        grid-template-columns: repeat(1,1fr);
}
.container1{
    flex-wrap: wrap;
}
}



